.p-title {
  padding: 1rem;
  border-bottom: 1px solid black;
}

.job-title {
  font-size: 20px;
}

.job-desc {
  font-size: 14px;
}

.btn-text {
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .btn-text {
    font-size: 10px;
  }
  .left-menu-p {
    padding: 8px;
  }
}
